﻿@model HarryStoreApp.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">

        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)


    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.MembershipTypeId)
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Customer.BalanceInAccount)
        @Html.TextBoxFor(m => m.Customer.BalanceInAccount, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.Customer.BalanceInAccount)

    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed To News Letter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}