﻿@model HarryStoreApp.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Product"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">

        @Html.LabelFor(m => m.Name);
        @Html.TextBoxFor(m => m.Name, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.DateToExpire);
        @Html.TextBoxFor(m => m.DateToExpire, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.DateToExpire)

    </div>
    <div class="form-group">



        @Html.LabelFor(m => m.DateAdded);
        @Html.TextBoxFor(m => m.DateAdded,"{0: d mmm yyyy}", new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.DateToExpire)

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.NumberAvailable);
        @Html.TextBoxFor(m => m.NumberAvailable, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.NumberAvailable)

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.NumberInStock);
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Quatity);
        @Html.TextBoxFor(m => m.Quatity, new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.Quatity)

    </div>


    <div class="form-group">

        @Html.LabelFor(m => m.CategoryId);
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category Type", new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId)

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.BrandId);
        @Html.DropDownListFor(m => m.BrandId, new SelectList(Model.Brands, "Id", "Name"), "Select Brand Type", new { @class = " form-control" })
        @Html.ValidationMessageFor(m => m.BrandId)
    </div>
    @Html.HiddenFor(m => m.Id);
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Submit</button>
}

